<div class="form">
  <form action="/sessions/create" method="post">
    <div class="form-field">
      <label>
        Email:
        <br>
        <input type="email" name="email">
      </label>
    </div>
    <div class="form-field">
      <label>
        Password:
        <br>
        <input type="password" name="password">
      </label>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-green">Sign in</button>
    <div>
  <form>
<div>
