<div class="form">
  <form action="/registration/create" method="post">
    <div class="form-field">
      <label>
        Nickname:
        <br>
        <input type="text" name="nickname" required>
      </label>
    </div>
    <div class="form-field">
      <label>
        Email:
        <br>
        <input type="email" name="email" required>
      </label>
    </div>
    <div class="form-field">
      <label>
        Password:
        <br>
        <input type="password" name="password" required>
      </label>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-green">Sign up</button>
    <div>
  <form>
<div>
