/* ------------ 1200 ------------ */

@media screen and (min-width: 1200px) {
  .aside {
    display: block;
  }

  .content {
    width: 75%;
  }

  .form {  
    form {
      width: 50%;
    }
  }

  .users-list-mobile {
    display: none;
  }

  .chat {
    header {
      .back {
        display: none;
      }
    }
  }
}
