<ul class="users-list">
  <% @users&.each do |user| %>
    <li>
      <a href="/chats/<%= user.nickname %>">
        <div class="users-list-info">
          <img src="/images/user.png">
          <span><%= user.nickname %></span>
        </div>
        <% unread_messages_count = unread_private_messages_count_from(user) %>
        <% if unread_messages_count.positive? %>
          <span class="badge"><%= unread_messages_count %></span>
        <% end %>
      </a>
    </li>
  <% end %>
</ul>
