<header>
  <% if logged_in? %>
    <form action="/sessions/destroy" method="post">
      <button type="submit">Sing out</button>
    </form>
  <% else %>
    <nav>
      <a href="/sessions/new">Sign in</a>
    </nav>
  <% end %>
</header>
